#documentos-container,
#alerta{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;

    display: flex;
    align-items: center;
    justify-content: center;
}

#documentos-box,
#alerta-box{
    position: relative;
    width: 65%;
    height: auto;
    border-radius: 15px;
    overflow: hidden;
    background-color: #ffffff;
    display: flex;
    box-sizing: border-box;
}
#documentos-box{
    width: 65%;
    align-items: stretch;
    justify-content: flex-start;
}
#alerta-box{
    padding: 30px;
    width: 450px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.documentos-seccion-1{
    position: relative;
    width: 45%;
    height: auto;
    box-sizing: border-box;
    border-right: #e6e6e6 solid 2px;
    display: block;
}
.documentos-seccion-2{
    position: relative;
    width: 55%;
    height: auto;
    box-sizing: border-box;
    display: block;
}
#input_documentos_form{
    position: relative;
    width: 100%;
    display: block;
    margin: 0px;
}

.documentos-row{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 20px;
}
.documentos-col1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin: 0px;
    margin-right: 12px;
    border-radius: 5px;
    background-color: #f4e1e5;
}
.documentos-col1 img{
    display: block;
    width: 35px;
    height: 35px;
    margin: 0px;
}
.documentos-col2{
    display: flex;
    width: auto;
    width: calc(100% - 62px);
    width: -moz-calc(100% - 62px);
    height: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
}
.documentos-col2 h2,
.documentos-col2 p{
    display: block;
    width: 100%;
    margin: 0px;
    padding: 0px;

    font-weight: normal;
    line-height: normal;
    text-align: left;
}
.documentos-col2 h2{
    font-family: 'Montserrat-SemiBold';
    font-size: 15px;
    color: #000000;
    margin-bottom: 2px;
}
.documentos-col2 p{
    font-family: 'Montserrat-SemiBold';
    font-size: 14px;
    color: #808083;
}
.documentos-descargar-todo-btn,
#documentos-subir-paquete-btn{
    cursor: pointer;
    outline: none;
    outline-width: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    box-sizing: border-box;
    padding: 10px 20px;
    border: none;
    background-color: #d61921;
    border-radius: 5px;
    box-shadow: 0px 5px 0px 1px #84131b;
    top: 0px;
    text-decoration: none !important;
    
    transition: top 0.2s, box-shadow 0.2s;
}
.documentos-descargar-todo-btn{
    margin-top: 15px;
    width: 100%;
}
#documentos-subir-paquete-btn{
    width: auto;
}
.documentos-descargar-todo-btn:active,
#documentos-subir-paquete-btn:active{
    top: 5px;
    box-shadow: 0px 0px 0px 1px #84131b;
}
.documentos-descargar-todo-btn img,
#documentos-subir-paquete-btn div{
    display: block;
    width: 25px;
    height: 25px;
    margin: 0px;
}
.documentos-descargar-todo-btn img{
    margin-right: 15px;
}
#documentos-subir-paquete-btn div{
    margin-left: 15px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.documentos-subir-paquete-btn-normal{
    background-image: url(../images/icon-documentos-subir2.svg);
}
.documentos-subir-paquete-btn-loading{
    background-image: url(../images/icon-documentos-loader.svg);
    animation: animacion-documentos-loader 0.75s infinite linear;
}
@keyframes animacion-documentos-loader{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.documentos-descargar-todo-btn span,
#documentos-subir-paquete-btn span{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat-ExtraBold';
    font-size: 18px;
    color: #ffffff;
    font-weight: normal;
    line-height: normal;
    text-decoration: none !important;
}

.documentos-contenido{
    position: relative;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 20px;
    background-color: #f2f2f2;
}
.documentos-contenido > p{
    display: block;
    width: 100%;
    margin: 0px;
    padding: 0px;
    margin-bottom: 20px;

    font-family: 'Montserrat-SemiBold';
    font-size: 14px;
    color: #808083;
    font-weight: normal;
    line-height: normal;
    text-align: left;
}

.documentos-contenidos{
    position: relative;
    width: 100%;
    height: 360px;
    overflow-y: auto;
}

/**********/

#documentos-contenidos-list,
#documentos-cargados-list{
    width: 100%;
    display: block;
    margin: 0px;
    padding: 0px;
}
.documentos-contenido-item,
.documentos-cargado-item{
    cursor: pointer;
    width: 100%;
    margin: 0px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none !important;
}
.documentos-contenido-item{
    padding: 0px;
    margin-bottom: 15px;
}
.documentos-cargado-item{
    padding: 7px 15px;
    border-bottom: #e6e6e6 solid 1px;
}

#documentos-contenidos-list .documentos-contenido-item:last-child{
    margin-bottom: 0px;
}
#documentos-cargados-list .documentos-cargado-item:last-child{
    border-bottom: none;
}

.documentos-contenido-item > div:nth-child(1),
.documentos-contenido-item > div:nth-child(3){
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin: 0px;
    border-radius: 5px;
}
.documentos-contenido-item > div:nth-child(1){
    margin-right: 15px;
    background-color: #ffffff;
}
.documentos-contenido-item > div:nth-child(3){
    margin-left: 15px;
}
.documentos-contenido-item > div:nth-child(1) img,
.documentos-contenido-item > div:nth-child(3) img{
    display: block;
    width: 30px;
    height: 30px;
    margin: 0px;
}

.documentos-contenido-item > div:nth-child(2){
    display: block;
    width: auto;
    width: calc(100% - (55px * 2));
    width: -moz-calc(100% - (55px * 2));
    height: auto;
    margin: 0px;
    padding: 0px;
}
.documentos-contenido-item > div:nth-child(2) p{
    display: block;
    width: 100%;
    margin: 2px 0px;
    padding: 0px;
    font-family: 'Montserrat-Medium';
    font-size: 16px;
    color: #353535;
    font-weight: normal;
    line-height: normal;
    text-decoration: none !important;
}
.documentos-contenido-item > div:nth-child(2) p span{
    font-family: 'Montserrat-SemiBold';
    font-size: 14px;
    color: #808083;
}

/*******************/
.documentos-seccion-2 .documentos-row{
    background-color: #ffffff;
    z-index: 1;
    border-bottom: #e6e6e6 solid 2px;
}

.documentos-cerrar-btn{
    cursor: pointer;
    outline: none;
    outline-width: 0;
    position: absolute;
    top: 50%;
    top: calc(50% - 22.5px);
    top: -moz-calc(50% - 22.5px);
    right: 20px;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    background-color: #d61921;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 0.2s;
}
.documentos-cerrar-btn:hover{
    background-color: #84131b;
}
.documentos-cerrar-btn img{
    display: block;
    width: 20px;
    height: 20px;
    margin: 0px;
}

.documentos-content{
    position: relative;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 20px;
}

#documentos-carga-content{
    position: relative;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 20px 20px;
    border-radius: 15px;
    border: #d61921 dashed 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#documentos-carga-content div{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4e1e5;
    margin-bottom: 20px;
}
#documentos-carga-content div img{
    display: block;
    width: 25px;
    height: 25px;
    margin: 0px;
}

#documentos-carga-content p{
    display: flex;
    width: auto;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat-SemiBold';
    font-size: 16px;
    color: #000000;
    font-weight: normal;
    line-height: normal;
}
#documentos-carga-content p:first-child{
    margin-bottom: 5px;
}
#documentos-carga-content p span{
    font-size: 14px;
    color: #808083;
}

.documentos-cargados{
    position: relative;
    width: 100%;
    height: 210px;
    overflow-y: auto;
    margin-top: 20px;
    box-sizing: border-box;
    border-radius: 15px;
    border: #e6e6e6 solid 1px;
}

#documentos-cargados-ninguno{
    display: block;
    width: 100%;
    margin: 0px;
    padding: 20px;
    box-sizing: border-box;

    text-align: center;
}

.documentos-cargado-item img{
    display: block;
    width: 30px;
    height: 30px;
    margin: 0px;
    margin-right: 15px;
}
.documentos-cargado-item p{
    display: block;
    width: auto;
    width: calc(100% - (45px * 2));
    width: -moz-calc(100% - (45px * 2));
    height: auto;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.documentos-cargado-item button{
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    outline-width: 0;
    border: none;
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: center;
    margin-left: 15px;
    cursor: pointer;
    transition: background-color 0.2s;
}
.documentos-cargado-item button::after{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 7.5px;
    left: 7.5px;
    background-color: #808083;
    mask-size: 15px 15px;
    -webkit-mask-size: 15px 15px;
    mask: url(../images/icon-cerrar2.svg);

    transition: background-color 0.2s;
}
.documentos-cargado-item button:hover{
    background-color: #d61921;
}
.documentos-cargado-item button:hover::after{
    background-color: #ffffff;
}

.documentos-cargado-item p,
#documentos-cargados-ninguno{
    font-family: 'Montserrat-Medium';
    font-size: 14px;
    color: #808083;
    font-weight: normal;
    line-height: normal;
    text-decoration: none !important;
}

.documentos-subir-paquete{
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: 15px 20px;
    border-top: #e6e6e6 solid 2px;
    display: flex;
    justify-content: flex-end;
}

/***********/

#alerta-icono{
    position: relative;
    width: 90px;
    height: 90px;
    margin: 0px auto;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position: center;
}
.alerta-icono-ok{
    background-color: #e5fdf1;
    background-image: url(../images/icon-alerta-ok.svg);
}
.alerta-icono-error{
    background-color: #ffc8bd;
    background-image: url(../images/icon-alerta-error.svg);
}

#alerta-titulo,
#alerta-text{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;

    font-weight: normal;
    line-height: normal;
    text-align: center;
}
#alerta-titulo{
    font-family: 'Montserrat-ExtraBold';
    font-size: 24px;
    color: #0f172a;
    margin-top: 25px;
    margin-bottom: 15px;
}
#alerta-text{
    font-family: 'Montserrat-Medium';
    font-size: 16px;
    color: #808083;
    margin-bottom: 25px;
}

#alerta-btn{
    cursor: pointer;
    position: relative;
    outline: none;
    outline-width: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    min-width: 80%;
    margin: 0px auto;
    padding: 10px 5px;
    box-sizing: border-box;
    border: none;
    background-color: #0f172a;
    border-radius: 5px;

    box-shadow: 0px 5px 0px 1px #000000;
    top: 0px;
    text-decoration: none !important;
    
    transition: top 0.2s, box-shadow 0.2s;
}
#alerta-btn span{
    font-family: 'Montserrat-SemiBold';
    font-size: 18px;
    color: #ffffff;
    font-weight: normal;
    line-height: normal;
}
#alerta-btn:active{
    top: 5px;
    box-shadow: 0px 0px 0px 1px #84131b;
}
/***********/

.documentos-container-on,
.alerta-on{
    background-color: rgba(0,0,0,0.65);
    box-shadow: 0px 0px 40px 10px rgba(0,0,0,0.25) inset;
    visibility: visible;
    transition: background-color 0.25s, visibility 0s, box-shadow 0.25s;
}
.documentos-container-off,
.alerta-off{
    background-color: rgba(0,0,0,0);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0) inset;
    visibility: hidden;
    transition: background-color 0.25s 0.25s, visibility 0.5s, box-shadow 0.25s 0.25s;
}

.documentos-container-on #documentos-box,
.alerta-on #alerta-box{
    transform: scale(1) translateY(0px);
    opacity: 1;
    transition: transform 0.25s 0.25s, opacity 0.25s 0.25s;
}
.documentos-container-off #documentos-box,
.alerta-off #alerta-box{
    transform: scale(0.85) translateY(50px);
    opacity: 0;
    transition: transform 0.25s, opacity 0.25s;
}

#input_documentos{
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
}
#input_documentos2{
    position: absolute;
    width: 100%;
    height: auto;
    top: -30px;
    left: 0px;
    opacity: 0;
}