@font-face {
    font-family: "Montserrat-ExtraBold";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    src: url("fonts/Montserrat-ExtraBold.ttf") format('truetype');
}
@font-face {
    font-family: "Montserrat-SemiBold";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    src: url("fonts/Montserrat-SemiBold.ttf") format('truetype');
}
@font-face {
    font-family: "Montserrat-Medium";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    src: url("fonts/Montserrat-Medium.ttf") format('truetype');
}
@font-face {
    font-family: "GFSDidot-Regular";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    src: url("fonts/GFSDidot-Regular.ttf") format('truetype');
}