html,body{
    position: relative;
    display: block;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#container{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px;
}

#fondo{
    position: absolute;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#fondo-aros{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

#fondo-img{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#aro1,#aro2{
    transform: translate(-50%,-50%);
    position: absolute;
}
#aro1 img,
#aro2 img{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

#aro1 img{
    animation: animacion-fondo0-aro1 infinite 20s linear;
}
#aro2 img{
    animation: animacion-fondo0-aro2 infinite 12s linear;
}
@keyframes animacion-fondo0-aro1{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes animacion-fondo0-aro2{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

/*#fondo-cortina{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}*/

#container-wraper{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

#container-wrap{
    position: absolute;
    width: 100%;
    width: calc(100% * 3);
    width: -moz-calc(100% * 3);
    height: 100%;
    margin: 0px;
}
.container-wrap-initial{
    left: 0px;
    top: 0px;
}

.container-content{
    position: absolute;
    width: 100%;
    width: calc(100% / 3);
    width: -moz-calc(100% / 3);
    height: 100%;
    display: block;
}
#welcome{
    left: 0px;
    top: 0px;
}
#menu1{
    left: 100%;
    left: calc(100% / 3);
    left: -moz-calc(100% / 3);
    top: 0px;
}
#menu2{
    left: 100%;
    left: calc((100% / 3) * 2);
    left: -moz-calc((100% / 3) * 2);
    top: 0px;
}
