.fondo1 #aro1{
    width: 300px;
    height: 300px;
    top: 0%;
    left: 100%;
}
.fondo1 #aro2{
    width: 120px;
    height: 120px;
    top: 95%;
    left: 80px;
}

.m-col{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.m-row1{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#m-titulo{
    margin-bottom: 10px;
}
#m-titulo h1{
    font-family: 'Montserrat-ExtraBold';
    font-size: 31px;
    color: #58595B;
}
#m-subtitulo{
    margin-bottom: 10px;
}
#m-subtitulo h2{
    font-family: 'Montserrat-ExtraBold';
    font-size: 31px;
    color: #D61921;
}
#m-texto p{
    font-family: 'Montserrat-Medium';
    font-size: 18px;
    color: #58595B;
}

.m-row2{
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.m-unity{
    position: relative;
    width: 380px;
    height: 248px;

    transition: filter 0.25s;
}

.m-unity-onda{
    position: absolute;
    width: 80%;
    height: 80%;
    border: 2px solid #E21F26;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    opacity: 1;
    transform: translate(-50%,-50%);
}
.m-unity-img{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    transition: box-shadow 0.5s;
}
.m-unity-img img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.m-unity-icon{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    right: 10px;
    bottom: 10px;
    background-color: rgba(255,255,255,0.3);
}
.m-unity-icon::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: 5px;
    left: 5px;

    transition: background-color 0.25s;
}
.m-unity-icon::after{
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    top: 12.5px;
    left: 12.5px;
}

.m-unity-unlocked{
    filter: grayscale(0%);
}
.m-unity-unlocked .m-unity-icon::before{
    background-color: #E21F26;
}
.m-unity-unlocked .m-unity-icon::after{
    background-image: url(../images/icon-unity-unlocked.svg);
}

/****************/

.m-unity-over{
    cursor: pointer;
    animation: animacion-unity-over 0.5s 1 forwards;
}
@keyframes animacion-unity-over{
    0%{
        transform: scale(1);
        animation-timing-function: ease-out;
    }
    30%{
        transform: scale(0.9);
        animation-timing-function: ease-in;
    }
    70%{
        transform: scale(1.1);
        animation-timing-function: ease-out;
    }
    100%{
        transform: scale(1.05);
    }
}
.m-unity-over .m-unity-onda{
    width: 120%;
    height: 120%;
    opacity: 0;
    transition: width 1.5s, height 1.5s, opacity 1.5s ease-out;
}
.m-unity-over .m-unity-img{
    box-shadow: 0px 15px 10px -8px rgba(0,0,0,0.8);
}

.m-unity-out{
    animation: animacion-unity-out 0.2s 1 forwards;
}
@keyframes animacion-unity-out{
    0%{
        transform: scale(1.05);
        animation-timing-function: ease-out;
    }
    30%{
        transform: scale(1.1);
        animation-timing-function: ease-in;
    }
    100%{
        transform: scale(1);
    }
}