.fondo1 #aro1{
    width: 300px;
    height: 300px;
    top: 0%;
    left: 0px;
}
.fondo1 #aro2{
    width: 120px;
    height: 120px;
    top: 95%;
    left: 80px;
}

.m-col{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.m-row1{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#m-titulo{
    margin-bottom: 10px;
}
#m-titulo h1{
    font-family: 'Montserrat-ExtraBold';
    font-size: 31px;
    color: #58595B;
}
#m-subtitulo{
    margin-bottom: 10px;
}
#m-subtitulo h2{
    font-family: 'Montserrat-ExtraBold';
    font-size: 31px;
    color: #D61921;
}
#m-texto p{
    font-family: 'Montserrat-Medium';
    font-size: 18px;
    color: #58595B;
}

.m-row2{
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}
.m-unity-btn{
    position: relative;
    width: 380px;
    height: 248px;
    margin: 0px 20px;
}
.m-unity{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px;
}
.m-unity-zona{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 0;
    cursor: pointer;
}

.m-unity-onda{
    position: absolute;
    width: 80%;
    height: 80%;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    opacity: 1;
    transform: translate(-50%,-50%);
}
.m-unity-img{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    transition: box-shadow 0.4s;
}
.m-unity-img img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: filter 0.4s;
}
.m-unity-icon{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    right: 10px;
    bottom: 10px;
    background-color: rgba(255,255,255,0.3);
    transition: width 0.4s, height 0.4s, right 0.4s, bottom 0.4s;
}
.m-unity-icon::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: 5px;
    left: 5px;

    transition: background-color 0.4s, width 0.4s, height 0.4s, left 0.4s, top 0.4s;
}
.m-unity-icon::after{
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    top: 12.5px;
    left: 12.5px;
    transition: left 0.4s, top 0.4s;
}

.m-unity-unlocked .m-unity-img img{
    filter: grayscale(0%);
}
.m-unity-unlocked .m-unity-onda{
    border-color: #E21F26;
}
.m-unity-unlocked .m-unity-icon::before{
    background-color: #E21F26;
}
.m-unity-unlocked .m-unity-icon::after{
    background-image: url(../images/icon-unity-unlocked.svg);
}

.m-unity-locked{
    cursor: not-allowed;
}
.m-unity-locked .m-unity-img img{
    filter: grayscale(100%);
}
.m-unity-locked .m-unity-onda{
    border-color: #64748B;
}
.m-unity-locked .m-unity-icon::before{
    background-color: #64748B;
}
.m-unity-locked .m-unity-icon::after{
    background-image: url(../images/icon-unity-locked.svg);
}

/****************/

.m-unity-over{
    animation: animacion-unity-over 0.4s 1 forwards;
}
@keyframes animacion-unity-over{
    0%{
        transform: scale(1);
        animation-timing-function: ease-out;
    }
    30%{
        transform: scale(0.95);
        animation-timing-function: ease-in;
    }
    70%{
        transform: scale(1.1);
        animation-timing-function: ease-out;
    }
    100%{
        transform: scale(1.05);
    }
}
.m-unity-over .m-unity-onda{
    width: 120%;
    height: 120%;
    opacity: 0;
    transition: width 1.25s, height 1.25s, opacity 1.25s ease-out;
}
.m-unity-over .m-unity-img{
    box-shadow: 0px 20px 10px -8px rgba(0,0,0,0.8);
}
.m-unity-over .m-unity-icon{
    width: 60px;
    height: 60px;
    right: 5px;
    bottom: 5px;
}
.m-unity-over .m-unity-icon::before{
    width: 55px;
    height: 55px;
    top: 2.5px;
    left: 2.5px;
}
.m-unity-over .m-unity-icon::after{
    top: 17.5px;
    left: 17.5px;
}

.m-unity-out{
    animation: animacion-unity-out 0.15s 1 forwards;
}
@keyframes animacion-unity-out{
    0%{
        transform: scale(1.05);
        animation-timing-function: ease-out;
    }
    30%{
        transform: scale(1.1);
        animation-timing-function: ease-in;
    }
    100%{
        transform: scale(1);
    }
}

@media (min-width: 1537px) {
    .fondo1 #aro1{
        width: 350px;
        height: 350px;
    }
    .fondo1 #aro2{
        width: 180px;
        height: 180px;
        left: 110px;
    }

    #m-titulo h1{
        font-size: 37px;
    }
    #m-subtitulo h2{
        font-size: 38px;
    }
    #m-texto p{
        font-size: 24px;
    }
    
    .m-unity-btn{
        width: 450px;
        height: 294px;
        margin: 0px 50px;
    }

    .m-unity-icon{
        width: 70px;
        height: 70px;
        right: 20px;
        bottom: 20px;
    }
    .m-unity-icon::before{
        width: 50px;
        height: 50px;
        top: 10px;
        left: 10px;
    }
    .m-unity-icon::after{
        width: 35px;
        height: 35px;
        top: 17.5px;
        left: 17.5px;
    }

    .m-unity-over .m-unity-icon{
        width: 90px;
        height: 90px;
        right: 10px;
        bottom: 10px;
    }
    .m-unity-over .m-unity-icon::before{
        width: 70px;
        height: 70px;
        top: 10px;
        left: 10px;
    }
    .m-unity-over .m-unity-icon::after{
        top: 27.5px;
        left: 27.5px;
    }
}

@media (min-width: 960px) and (max-width: 1280px){
    .fondo1 #aro1{
        width: 250px;
        height: 250px;
    }
    .fondo1 #aro2{
        width: 80px;
        height: 80px;
        left: 50px;
    }

    #m-titulo h1{
        font-size: 26px;
    }
    #m-subtitulo h2{
        font-size: 26px;
    }
    #m-texto p{
        font-size: 14px;
    }
    
    .m-unity-btn{
        width: 340px;
        height: 222px;
        margin: 0px 20px;
    }

    .m-unity-icon{
        width: 40px;
        height: 40px;
        right: 20px;
        bottom: 20px;
    }
    .m-unity-icon::before{
        width: 30px;
        height: 30px;
        top: 5px;
        left: 5px;
    }
    .m-unity-icon::after{
        width: 20px;
        height: 20px;
        top: 10px;
        left: 10px;
    }

    .m-unity-over .m-unity-icon{
        width: 50px;
        height: 50px;
        right: 5px;
        bottom: 5px;
    }
    .m-unity-over .m-unity-icon::before{
        width: 40px;
        height: 40px;
        top: 5px;
        left: 5px;
    }
    .m-unity-over .m-unity-icon::after{
        top: 15px;
        left: 15px;
    }
}