.fondo2 #aro1{
    width: 200px;
    height: 200px;
    top: 0%;
    left: 100%;
    left: calc(100% - 120px);
    left: -moz-calc(100% - 120px);
}
.fondo2 #aro2{
    width: 150px;
    height: 150px;
    top: 100%;
    left: 100px;
}

.m2-col{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.m2-row1{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#m2-titulo{
    margin-bottom: 8px;
}
#m2-titulo h1{
    font-family: 'Montserrat-ExtraBold';
    font-size: 25px;
    color: #58595B;
}
#m2-subtitulo{
    margin-bottom: 8px;
}
#m2-subtitulo h2{
    font-family: 'Montserrat-ExtraBold';
    font-size: 25px;
    color: #D61921;
}
#m2-texto{
    margin-bottom: 15px;
}
#m2-texto p{
    font-family: 'Montserrat-Medium';
    font-size: 18px;
    color: #58595B;
}
#m2-unidad{
    position: relative;
    display: flex;
    margin: 0px;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
}
#m2-unidad > img{
    display: block;
    width: 40px;
    height: 40px;
    margin: 0px;
    margin-right: 10px;
}
#m2-unidad > p{
    font-family: 'Montserrat-ExtraBold';
    font-size: 25px;
    color: #ffffff;
}

.m2-row2{
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

/*************/
.m2-module-btn{
    position: relative;
    width: 290px;
    height: 250px;
    margin: 15px 10px;
}
.m2-module{
    position: relative;
    width: 100%;
    height: 100%;
}

.m2-module-img{
    position: relative;
    width: 100%;
    height: 135px;
    overflow: hidden;
    box-sizing: border-box;
    border: #FF7E60 solid 2px;
    border-bottom: none;
}
.m2-module-img img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center bottom;
}

.m2-module-info{
    position: relative;
    width: 100%;
    height: 115px;
    box-sizing: border-box;
    border: #FF7E60 solid 2px;
    border-top: 0px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.m2-module-info div{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #EF2E3C;
    margin-right: 10px;
}
.m2-module-info div span{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 50%;

    font-family: 'Montserrat-SemiBold';
    font-size: 35px;
    color: #58595B;
    font-weight: normal;
    line-height: normal;
    text-align: center;

    box-shadow: -5px 15px 15px -5px rgba(0,0,0,0.8);
}
/*
                                        <h3><span>1</span></h3>
                                        <p>Contratación suministros</p>
                                    </div>
                                    <div class="m2-module-menu">
                                        <ul class="m2-module-menu-content">
                                            <li>
                                                <img src="assets/images/icon-module-video.svg" />
                                                <span>Inducción / Reinducción</span>
                                                <div></div>
                                            </li>
                                            <li>
                                                <img src="assets/images/icon-module-interactiva.svg" />
                                                <span>Seguridad Social</span>
                                                <div></div>
                                            </li>
                                            <li>
                                                <img src="assets/images/icon-module-video.svg" />
                                                <span>Estándares mínimos del SG-SST</span>
                                                <div></div>
                                            </li>
                                            <li>
                                                <img src="assets/images/icon-module-video.svg" />
                                                <span>Concepto médico ocupacional</span>
                                                <div></div>
                                            </li>
                                            <li>
                                                <img src="assets/images/icon-module-document.svg" />
                                                <span>Documentación</span>
                                                <div></div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="m2-module-zona" onmouseenter="overModuleBtn(this)" onmouseout="outModuleBtn(this)" onclick="clickModuleBtn(1)"></div>
                            </div>

                            .m2-module-out{
    
}*/