.fondo1 #aro1{
    width: 300px;
    height: 300px;
    top: 0%;
    left: 100%;
}
.fondo1 #aro2{
    width: 120px;
    height: 120px;
    top: 95%;
    left: 80px;
}

.m-col{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.m-row1{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#m-titulo{
    margin-bottom: 10px;
}
#m-titulo h1{
    font-family: 'Montserrat-ExtraBold';
    font-size: 31px;
    color: #58595B;
}
#m-subtitulo{
    margin-bottom: 10px;
}
#m-subtitulo h2{
    font-family: 'Montserrat-ExtraBold';
    font-size: 31px;
    color: #D61921;
}
#m-texto p{
    font-family: 'Montserrat-Medium';
    font-size: 18px;
    color: #58595B;
}

.m-row2{
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.m-unity{
    position: relative;
    width: 380px;
    height: 248px;
    overflow: hidden;
    border-radius: 20px;
}

.m-unity-onda{
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid #E21F26;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.m-unity-img{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px;
}
.m-unity-img img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.m-unity-icon{
    position: absolute;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    right: 10px;
    bottom: 10px;
    background-color: ;
}
.m-unity-icon::before{
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 2.5px;
    left: 2.5px;
}
.m-unity-icon::after{
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    top: 12.5px;
    left: 12.5px;
}

.m-unity-unlocked .
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*/