.fondo2 #aro1{
    width: 300px;
    height: 300px;
    top: 0%;
    left: 0%;
}
.fondo2 #aro2{
    width: 200px;
    height: 200px;
    top: 98%;
    left: 100%;
    left: calc(100% - 20px);
    left: -moz-calc(100% - 20px);
}

.m2-col{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.m2-row1{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#m2-titulo{
    margin-bottom: 8px;
}
#m2-titulo h1{
    font-family: 'Montserrat-ExtraBold';
    font-size: 25px;
    color: #ffffff;
}
#m2-subtitulo{
    margin-bottom: 8px;
}
#m2-subtitulo h2{
    font-family: 'Montserrat-ExtraBold';
    font-size: 25px;
    color: #FF7E60;
}
#m2-texto{
    margin-bottom: 15px;
}
#m2-texto p{
    font-family: 'Montserrat-Medium';
    font-size: 18px;
    color: #FFFFFF;
}
#m2-unidad{
    position: relative;
    display: flex;
    align-items: center;
    margin: 0px;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
}
#m2-unidad > img{
    display: block;
    width: 40px;
    height: 40px;
    margin: 0px;
    margin-right: 10px;
}
#m2-unidad > p{
    font-family: 'Montserrat-ExtraBold';
    font-size: 25px;
    color: #ffffff;
}

.m2-row2{
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 20px;
}
#m2-modules{
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

/*************/
.m2-module-btn{
    cursor: pointer;
    position: relative;
    width: 320px;
    height: 250px;
    margin: 10px 10px;
}
.m2-module{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);

    transition: box-shadow 0.4s;
}
.m2-module-onda{
    position: absolute;
    width: 100%;
    height: 100%;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(255,126,96,0);
    border-radius: 20px;
    top: 50%;
    left: 50%;
    opacity: 1;
    transform: translate(-50%,-50%);
}

.m2-module-img{
    position: relative;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    border: #FF7E60 solid 2px;
    border-radius: 15px 15px 0px 0px;
    border-bottom: none;

    transition: height 0.25s;
}
.m2-module-img img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center bottom;
}

.m2-module-info{
    position: relative;
    width: 100%;
    padding: 0px 20px;
    box-sizing: border-box;
    border: #FF7E60 solid 2px;
    border-radius: 0px 0px 15px 15px;
    border-top: 0px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    transition: height 0.25s;
}
.m2-module-info div{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #EF2E3C;
    margin-right: 10px;
}
.m2-module-info div span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 50%;

    font-family: 'Montserrat-SemiBold';
    font-size: 35px;
    color: #58595B;
    font-weight: normal;
    line-height: normal;
    text-align: center;

    box-shadow: -5px 10px 15px -5px rgba(0,0,0,0.8);
}

.m2-module-info p{
    display: flex;
    width: auto;
    margin: 0px;
    padding: 0px;
    font-family: 'GFSDidot-Regular';
    font-size: 18px;
    color: #FFFFFF;
    font-weight: normal;
    line-height: normal;
    text-align: left;
}
#modulo1 .m2-module-info > p{width: 200px;}
#modulo2 .m2-module-info > p{width: 210px;}
#modulo3 .m2-module-info > p{width: 210px;}
#modulo4 .m2-module-info > p{width: 210px;}
#modulo5 .m2-module-info > p{width: 180px;}
#modulo6 .m2-module-info > p{width: 210px;}
#modulo7 .m2-module-info > p{width: 180px;}
#modulo8 .m2-module-info > p{width: 170px;}

.m2-module-menu{
    position: absolute;
    width: 100%;
    height: 0px;
    overflow: hidden;
    transform-origin: center bottom;
}
.m2-module-menu-content{
    position: relative;
    display: block;
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    border: #5E4D43 solid 1px;

    transition: top 0.25s;
}
.m2-module-menu-content li{
    cursor: pointer;
    position: relative;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 7px;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    transition: background-color 0.15s;
}
.m2-module-menu-content li:hover{
    background-color: #F4E1E5;
}
.m2-module-menu-content li img{
    display: block;
    width: 20px;
    height: 20px;
    margin: 0px;
    margin-right: 10px;
}
.m2-module-menu-content li div{
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.m2-module-menu-content-checked div{
    background-image: url(../images/icon-module-checked.svg);
}
.m2-module-menu-content li span{
    display: block;
    width: auto;
    width: calc(100% - (30px * 2));
    width: -moz-calc(100% - (30px * 2));
    height: auto;
    margin: 0px;
    padding: 0px;

    font-family: 'Montserrat-Medium';
    font-size: 16px;
    font-weight: normal;
    color: #000000;
    line-height: normal;
}

/*.m2-module-zona{
    position: absolute;
}*/

/***************/
.m2-module:hover{
    cursor: pointer;
    box-shadow: 0px 20px 10px -8px rgba(0,0,0,0.8);
}
.m2-module:hover .m2-module-onda{
    width: 120%;
    height: 120%;
    border-color: rgba(255,126,96,1);
    opacity: 0;
    transition: border-color 0.25s, width 1.25s, height 1.25s, opacity 1.25s ease-out;
}
.m2-module-opened .m2-module-info{
    height: 60px;
}
.m2-module-opened .m2-module-img{
    height: 190px;
}
.m2-module-opened .m2-module-menu{
    bottom: 60px;
    opacity: 1;
    filter: blur(0px);

    transition: bottom 0.25s, opacity 0.1s, filter 0.25s, height 0s;
}
.m2-module-opened .m2-module-menu-content{
    top: 0%;
}

.m2-module-closed .m2-module-info{
    height: 115px;
}
.m2-module-closed .m2-module-img{
    height: 135px;
}
.m2-module-closed .m2-module-menu{
    bottom: 115px;
    opacity: 0;
    filter: blur(5px);

    transition: bottom 0.25s, opacity 0.1s 0.15s, filter 0.25s, height 0s 0.25s;
}
.m2-module-closed .m2-module-menu-content{
    top: 100%;
}