.fondo3 #aro1{
    width: 300px;
    height: 300px;
    top: 0%;
    left: 0%;
}
.fondo3 #aro2{
    width: 200px;
    height: 200px;
    top: 98%;
    left: 100%;
    left: calc(100% - 20px);
    left: -moz-calc(100% - 20px);
}
.fondo3 #aro1 img{
    animation: none;
}
.fondo3 #aro2 img{
    animation: none;
}

#video-container{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #111827;
    margin: 0px;
    overflow: hidden;
}
#video-vid{
    position: relative;
    display: block;
    width: auto;
    top: 0.5%;
    height: 99%;
    margin: 0px auto;
    padding: 0px;
    overflow: hidden;
    border-radius: 12px;
}
video::-webkit-media-controls-panel { display: none !important; }

/*.video-vid-paused{
    filter: blur(2px);
}
.video-vid-playing{
    filter: blur(0px);
}*/
/****************/

#video-playpause,
#video-timeline-container{
    position: absolute;
    width: auto;
    height: 99%;
    top: 0.5%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 12px;
}

#video-playpause{
    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(0,0,0,0.3);
    box-shadow: 0px 0px 40px 10px rgba(0,0,0,0.25) inset;
}
#video-playpause div{
    position: relative;
    width: 90px;
    height: 90px;
    box-sizing: border-box;
    border-radius: 50%;
    border: #8a8a8a solid 1px;
    box-shadow: 0px 0px 20px 0px rgba(226,31,38,0.5);
    background-size: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(80,80,80,0.6);
    background-image: url(../images/icon-timeline-play.svg);
}
.video-playpause-off{
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.25s, visibility 0.25s;
}
.video-playpause-on{
    visibility: visible;
    opacity: 1;
    transition: opacity 0.25s, visibility 0s;
}

.video-playpause-off div{
    transform: scale(1.2);
    transition: transform 0.25s;
}
.video-playpause-on div{
    transform: scale(1);
    transition: transform 0.25s;
}

#video-timeline-container{
    opacity: 0;
    transition: opacity 0.5s;
}

#video-timeline-back{
    position: absolute;
    width: 100%;
    height: 100%;
    height: calc(100% - 65px);
    height: -moz-calc(100% - 65px);
    top: 0px;
    left: 0px;
    cursor: pointer;
}

#video-timeline{
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: 0px;
    left: 0px;
    box-sizing: border-box;
    padding: 0px 12px;
    padding-top: 5px;
    border-radius: 0px 0px 12px 12px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;

    background: rgba(0,0,0,0.5);
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.9));
}
#video-timeline-bar{
    position: absolute;
    cursor: pointer;
    width: 100%;
    width: calc(100% - 24px);
    width: -moz-calc(100% - 24px);
    height: 5px;
    top: 0px;
    left: 12px;
    background-color: rgba(255,255,255,0.5);
}
#video-timeline-tray{
    position: relative;
    width: auto;
    height: 100%;
    border-radius: 5px;
    background-color: #E21F26;
}

#video-timeline-bola{
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: 50%;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    transform: translate(-50%, -50%);
}

#video-timeline-tags{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}
#video-timeline-tags > div{
    position: absolute;
    top: 0px;
    width: 5px;
    height: 100%;
    background-color: #ffd718;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
}

/***************/

#video-timeline-playpause-btn,
#video-timeline-sound-btn,
#video-timeline-fullscreen{
    cursor: pointer;
    position: relative;
    display: block;
    outline: none;
    outline-width: 0;
    border: none;
    box-sizing: border-box;
    background-color: rgba(255,255,255,0);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;

    transition: background-color 0.25s;
}
#video-timeline-playpause-btn,
#video-timeline-sound-btn{
    margin-right: 15px;
}
#video-timeline-fullscreen{
    margin-left: auto;
    background-image: url(../images/icon-timeline-fullscreen.svg);
}

#video-timeline-playpause-btn:hover,
#video-timeline-sound-btn:hover,
#video-timeline-fullscreen:hover{
    background-color: rgba(255,255,255,0.3);
}

.video-timeline-playing{
    background-image: url(../images/icon-timeline-pause.svg);
}
.video-timeline-paused{
    background-image: url(../images/icon-timeline-play.svg);
}
.video-timeline-sound-off{
    background-image: url(../images/icon-timeline-sound-off.svg);
}
.video-timeline-sound-on{
    background-image: url(../images/icon-timeline-sound-on.svg);
}

#video-timeline-time{
    position: relative;
    width: auto;
    height: auto;
    margin: 0px;
    display: block;

    font-family: 'Montserrat-Medium';
    font-size: 14px;
    color: #ffffff;
    font-weight: normal;
    line-height: normal;
}

#video-timeline-container:hover{
    opacity: 1;
}

.video-timeline-container-off{
    visibility: hidden;
}
.video-timeline-container-on{
    visibility: visible;
}

#video-legend{
    position: absolute;
    top: 15px;
    width: 300px;
    height: auto;
    box-sizing: border-box;
    border: #8a8a8a solid 1px;
    border-radius: 12px;
    background-color: #07080a;
    padding: 20px;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

#video-legend-icon{
    position: relative;
    width: 60px;
    height: 60px;
    
    margin-right: 20px;
    border-radius: 50%;
    background-size: 30px 30px;
    background-position: center;
    background-repeat: no-repeat;
}
.video-legend-icon-video{background-image: url(../images/icon-legend-video.svg); background-color: #d61921;}
.video-legend-icon-formulario{background-image: url(../images/icon-legend-form.svg); background-color: #009ea8;}
.video-legend-icon-link{background-image: url(../images/icon-legend-link.svg); background-color: #9333ea;}

.video-legend-info{
    position: relative;
    width: auto;
    width: calc(100% - 80px);
    width: -moz-calc(100% - 80px);
    height: auto;
    display: block;
}

.video-legend-info h2,
.video-legend-info p{
    display: block;
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-weight: normal;
    line-height: normal;
    text-align: left;
    color: #ffffff;
    margin-bottom: 10px;
}
.video-legend-info h2{
    font-family: 'Montserrat-ExtraBold';
    font-size: 16px;
}
.video-legend-info p{
    font-family: 'Montserrat-Medium';
    font-size: 14px;
}

#video-legend-link{
    outline: none;
    outline-width: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #ffffff;
    margin: 0px;
    padding: 10px 20px;
    text-decoration: none !important;

    transition: background-color 0.2s;
}

#video-legend-link span{
    font-family: 'Montserrat-SemiBold';
    font-size: 14px;
    color: #000000;
    font-weight: normal;
    line-height: normal;
}
#video-legend-link img{
    display: block;
    width: 15px;
    height: 15px;
    margin: 0px;
    margin-left: 15px;
}

#video-legend-link:hover{
    cursor: pointer;
    background-color: #e0e0e0;
}

.video-legend-off{
    visibility: hidden;
    right: -300px;

    transition: visibility 0.2s, right 0.2s;
}
.video-legend-on{
    visibility: visible;
    right: 20px;

    transition: visibility 0s, right 0.2s;
}

#video-iframe-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background-color: #000000;
    overflow: hidden;
}
.video-iframe-container-off{
    display: none;
}
.video-iframe-container-on{
    display: block;
}
#video-iframe{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: none;
    overflow: hidden;
}

#video-iframe-cerrar{
    position: absolute;
    outline: none;
    outline-width: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: auto;
    height: 40px;
    padding: 0px 20px;
    border-radius: 20px;
    background-color: #E21F26;
    border: none;
    box-shadow: 5px 7px 10px -3px rgba(0,0,0,0.5);
    right: 20px;
    top: 15px;

    transition: background-color 0.2s;
}
#video-iframe-cerrar:hover{
    cursor: pointer;
    background-color: #ad0a0f;
}
#video-iframe-cerrar span{
    font-family: 'Montserrat-ExtraBold';
    font-size: 18px;
    color: #ffffff;
    font-weight: normal;
    line-height: normal;
}
#video-iframe-cerrar img{
    display: block;
    width: 20px;
    height: 20px;
    margin: 0px;
    margin-left: 15px;
}

@media (min-width: 1540px) {
    #video-playpause div{
        width: 120px;
        height: 120px;
        background-size: 60px;
    }

    #video-timeline-back{
        height: 100%;
        height: calc(100% - 96px);
        height: -moz-calc(100% - 96px);
    }

    #video-timeline{
        height: 90px;
        padding: 0px 15px;
        padding-top: 8px;
    }

    #video-timeline-bar{
        width: 100%;
        width: calc(100% - 30px);
        width: -moz-calc(100% - 30px);
        height: 8px;
        left: 15px;
    }
    #video-timeline-tray{
        border-radius: 8px;
    }
    #video-timeline-bola{
        width: 20px;
        height: 20px;
    }
    #video-timeline-tags > div{
        width: 8px;
    }

    #video-timeline-playpause-btn,
    #video-timeline-sound-btn,
    #video-timeline-fullscreen{
        width: 50px;
        height: 50px;
        background-size: 30px;
    }
    #video-timeline-playpause-btn,
    #video-timeline-sound-btn{
        margin-right: 20px;
    }
    #video-timeline-time{
        font-size: 18px;
    }

    #video-legend{
        top: 25px;
        width: 420px;
        border: #8a8a8a solid 2x;
        padding: 30px;
    }

    #video-legend-icon{
        width: 90px;
        height: 90px;
        margin-right: 20px;
        background-size: 40px 40px;
    }
    
    .video-legend-info{
        width: auto;
        width: calc(100% - 110px);
        width: -moz-calc(100% - 110px);
    }

    .video-legend-info h2,
    .video-legend-info p{
        margin-bottom: 20px;
    }
    .video-legend-info h2{
        font-size: 21px;
    }
    .video-legend-info p{
        font-size: 18px;
    }

    #video-legend-link{
        padding: 12px 25px;
    }

    #video-legend-link span{
        font-size: 18px;
    }
    #video-legend-link img{
        width: 20px;
        height: 20px;
        margin-left: 20px;
    }

    .video-legend-off{
        right: -420px;
    }
    .video-legend-on{
        right: 30px;
    }
}